<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="web/static/css/styles.css" >

    <script>
        function showError(message) {
            alert(message);
        }
    </script>

</head>
<body>
    <div class="login-container">
        <h2>Connexion</h2>
        <form action="/login" method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Se connecter</button>
        </form>

        <div class="signup-redirect"></div>
            <p>Pas encore de compte ?</p>
            <a href="/signup">
                <button type="button" class="signup-btn">Créer un compte</button>
            </a>
        </div>

    </div>


    
    {{ if .ErrorMessage }}
    <script>
        showError("{{ .ErrorMessage }}");
    </script>
    {{ end }}

</body>
</html>
