<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile of {{ .User.Pseudo }}</title>
    <link rel="stylesheet" href="web/static/css/styles.css">
</head>

<body>
    <header>
        <h1>Profile of {{ .User.Pseudo }}</h1>
    </header>

    <nav>
        <a href="/profile/{{ .User.Pseudo }}">My Profile</a>
        <a href="/profile/{{ .User.Pseudo }}/posts">My Posts</a> <!-- Add link to posts -->
    </nav>

    <div>
        <img src="data:image/jpeg;base64,{{ .User.ProfilePicture }}" alt="Profile Picture of {{ .User.Pseudo }}">
        <p>Email: {{ .User.Email }}</p>
        <p>Role: {{ .User.Role }}</p>
    </div>

    <footer>
        <a href="/dashboard">Back to Dashboard</a>
    </footer>
</body>
</html>
