<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raddit</title>
    <link rel="icon" type="image/x-icon" href="static/assets/img/home_logo.png" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/auth.css" />
    <link rel="stylesheet" href="static/css/posts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet" />
    {{template "js" .}}
  </head>
  <body>
    {{template "response" .}}
    <div class="main-container">{{template "left-bar" .}} {{template "posts" .}} {{template "header" .}} {{template "create-post" .}}</div>
  </body>
  <script type="module" src="static/js/index.js"></script>
  <script src="static/js/follow.js"></script>
</html>
