@import "index.css";

/* Conteneur principal de connexion */
.auth {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-self: center;
}

.auth h2 {
  color: var(--SECOND-COLOR);
  font-size: 2em;
  margin-bottom: 20px;
}

.auth input[type="email"],
.auth input[type="text"],
.auth input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--c);
  border-radius: 5px;
  font-size: 1em;
  color: var(--nc);
  transition: border-color 0.3s ease;
}

.auth input[type="text"]:focus,
.auth input[type="password"]:focus {
  border-color: var(--MAIN-COLOR);
  outline: none;
}

.auth button[type="submit"] {
  background-color: var(--SECOND-COLOR);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.auth button[type="submit"]:hover {
  background-color: var(--THIRD-COLOR);
  transform: scale(1.05);
}

.auth #redirect {
  margin-top: 20px;
  font-size: 0.9em;
}

.auth #redirect p {
  color: var(--nc);
}

.auth #signup-link {
  background-color: var(--SECOND-COLOR);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.auth #signup-link:hover {
  background-color: var(--THIRD-COLOR);
  transform: scale(1.05);
}

.auth #close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: var(--SECOND-COLOR);
  cursor: pointer;
  padding: 0;
  line-height: 1;
}
