:root {
  --BODY-COLOR: #ffffff;
  --MAIN-COLOR: #f8a0f4;
  --SECOND-COLOR: #fa9df5;
  --THIRD-COLOR: #f16ceb;
  --c: #f598cb;
  --nc: #582d45;
  --LIGHT-MAIN-COLOR: #ffe0fd;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}

.left-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

* ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

* ul li span {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  flex: 1;
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  z-index: 2;
  padding: 0 1vw;
  background-color: var(--BODY-COLOR);
  position: fixed;
}

.header #avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  top: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.header #avatar:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/*Popup quand on clique sur l'avatar*/
#popup {
  display: none;
  position: fixed; /* Positionner le pop-up */
  top: 40px; /* Ajustez la position verticale */
  right: 40px; /* Ajustez la position horizontale */
  border: 1px solid var(--c); /* Bordure pour le pop-up */
  background-color: white; /* Couleur de fond */
  padding: 30px; /* Espacement interne */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
  z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
  scrollbar-width: none;
  border-radius: 8px;
}
.header #popup button {
  background-color: var(--SECOND-COLOR);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.main-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.left-bar {
  min-width: 185px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 20vw;
  transition: all 0.3s ease-in-out;
  border-right: 1px ridge var(--c);
  padding: 0 20px;
  overflow: hidden;
  z-index: 1;
}

.left-bar #logo {
  position: absolute;
  max-height: 30px;
  max-width: 30px;
  position: absolute;
  top: 7px;
  right: 2px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
}

.left-bar h1 {
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffe4f0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f53271;
  text-shadow: #9b0f40 -3.5px 1.5px, rgb(255, 255, 255) -25px 20px 30px;
  padding-top: 5px;
}

.left-bar.closed {
  transform: translateX(-85%);
}

.left-bar.closed ul {
  scrollbar-width: none;
  color: var(--BODY-COLOR);
}

.left-bar #item {
  flex: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  padding: 0px;
  max-height: 45vh;
}

.left-bar h2 {
  margin: 15px 0 0 0;
  position: sticky;
  background-color: none;
  top: 0px;
}

.left-bar li {
  margin-top: 25px;
}

.left-bar li:last-child {
  margin-bottom: 25px;
}

.left-bar #item:first-child {
  border-bottom: 1px solid var(--c);
}

.left-bar.closed + .posts-container {
  transform: translateX(-20vw);
}

.left-bar.closed + .profile-container {
  transform: translateX(-20vw);
  transition: transform 0.25s;
}

.left-bar.closed + .edit-profile-container {
  transform: translateX(-20vw);
  transition: transform 0.15s;
}

.left-bar:not(.closed) + .posts-container {
  margin-left: 0;
}

.left-bar a {
  color: inherit;
  text-decoration: none;
}

#search_bar {
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: calc(100% - 25px);
}

#home_bttn {
  color: #e51151;
  width: 24px;
  position: absolute;
  max-height: 30px;
  max-width: 30px;
  right: 0px;
  position: absolute;
  top: 40px;
  right: 5px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
}

#home_bttn:hover {
  color: var(--SECOND-COLOR);
}

.posts-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  width: auto;
  scrollbar-width: none;
}

.auth-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* travailler ici */

/* Bouton pour ouvrir le pop-up de création de post */
.create-post-button {
  background-color: var(--SECOND-COLOR);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.create-post-button:hover {
  background-color: var(--THIRD-COLOR);
  transform: translate(0, -7px);
}

/* Le conteneur du pop-up */
.create-post {
  display: none; /* Le pop-up est caché par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease;
}

.create-post.active {
  display: block;
  animation: fadeIn 0.3s ease forwards;
}

.create-post input,
.create-post textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.create-post textarea {
  resize: vertical; /* Autoriser uniquement l'agrandissement en hauteur */
}

.create-post input:focus,
.create-post textarea:focus {
  border-color: var(--SECOND-COLOR);
  outline: none;
}

/* Bouton de soumission */
.create-post button[type="submit"] {
  background-color: var(--SECOND-COLOR);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-post button[type="submit"]:hover {
  background-color: var(--THIRD-COLOR);
  transform: scale(1.05);
}

* {
  color: inherit;
  text-decoration: none;
}

.profile-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 35px;
}

.profile-container {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-left: 1vw;
  flex-direction: column;
}

.profile-menu li {
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: var(--SECOND-COLOR);
  border-radius: 7px;
  text-align: center;
  padding: 5px 0;
  color: inherit;
  cursor: pointer;
}

.profile-menu li:hover {
  background-color: var(--LIGHT-MAIN-COLOR);
  transform: translateY(-5px);
}

.profile-menu button {
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.profile-container img {
  margin: 15px;
  border-radius: 10px;
  max-height: 240px;
  max-width: auto;
}

.profile-container a {
  padding: 0 15px 0 15px;
}

.edit-profile-container nav a {
  background-color: var(--LIGHT-MAIN-COLOR);
  border-radius: 4px;
  border: none;
  padding: 5px;
  align-items: center;
}

.edit-profile-container div {
  font-size: 18px;
  margin-top: 10px;
}

.edit-profile-container nav a:hover {
  background-color: var(--SECOND-COLOR);
}

.edit-profile-container input[type="email"] {
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  height: 22px;
}

.edit-profile-container button {
  border: none;
  border-radius: 5px;
  background-color: var(--LIGHT-MAIN-COLOR);
  font-size: 15px;
  padding: 6px;
  margin: 10px;
}

.edit-profile-container button:hover {
  background-color: var(--SECOND-COLOR);
}

.edit-profile-container input[type="submit"] {
  border: none;
  font-size: 15px;
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--LIGHT-MAIN-COLOR);
}

.edit-profile-container input[type="submit"]:hover {
  background-color: var(--SECOND-COLOR);
}

.edit-profile-container img {
  border-radius: 7px;
  max-height: 250px;
  width: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.edit-profile-container {
  width: 100%;
  text-align: center;
  align-items: center;
}

.edit-profile-container nav {
  margin-top: 15px;
  margin-bottom: 20px;
}

.posts-container nav a {
  background-color: var(--LIGHT-MAIN-COLOR);
  border-radius: 4px;
  border: none;
  padding: 5px;
  align-items: center;
}

.posts-container nav a:hover {
  background-color: var(--SECOND-COLOR);
}

.posts-container header {
  margin: 20px;
}

#header-profile-link {
  background-color: var(--SECOND-COLOR);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  align-self: center;
  width: 100%;
  text-align: center;
}

#header-profile-link:hover {
  background-color: var(--LIGHT-MAIN-COLOR);
}

#header-login-link {
  background-color: var(--SECOND-COLOR);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  align-self: center;
  width: 100%;
  text-align: center;
}

#header-login-link:hover {
  background-color: var(--LIGHT-MAIN-COLOR);
}

#header-signup-link {
  background-color: var(--SECOND-COLOR);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  align-self: center;
  width: 100%;
  text-align: center;
}

#header-signup-link:hover {
  background-color: var(--LIGHT-MAIN-COLOR);
}

.activity-post {
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}
