.header {
  display: flex;
  z-index: 2;
  padding: 0 1vw;
  background-color: var(--BODY-COLOR);
  position: fixed;
}

.header #profil{
  position: relative;
}

.header #avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  top: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.header #avatar:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/*Popup quand on clique sur l'avatar*/
#popup {
  display: none;
  position: fixed; /* Positionner le pop-up */
  top: 40px; /* Ajustez la position verticale */
  right: 40px; /* Ajustez la position horizontale */
  border: 1px solid var(--c); /* Bordure pour le pop-up */
  background-color: white; /* Couleur de fond */
  padding: 30px; /* Espacement interne */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
  z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
  scrollbar-width: none;
  border-radius: 8px;
}
.header #popup button {
  background-color: var(--SECOND-COLOR);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}


.header #notification-poppup{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 60px;
    top: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  }
  
  .header #notif-pic-none{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 60px;
    top: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  
  }
  
  .header #notif-pic-none:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  #notification-container {
    display: none;
    position: fixed;
    top: 50px; /* Ajustez pour être juste sous le bouton de notification */
    right: 10px;
    width: 350px;
    height: 175px;
    background-color: white;
    border: 2px solid var(--c);
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden; 
}

 #notification-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  padding: 0px;
}

#notification-ul li {
  display: ruby;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#notification-ul li a { 
  text-decoration: none;
  color: #f4acb7;
  margin-left: 5px;
}

#notification-ul li a:hover { 
  text-decoration: none;
  color: white;
}

#notification-ul li:hover {
  background-color: var(--SECOND-COLOR);
  color:white;
}

#notification-ul li:first-child {
  margin-top: 15px; /* Supprimer la bordure sur le dernier élément */
}