{{define "create-post"}} {{if .user}}
<button class="create-post-button">+</button>
<div class="create-post">
  <form enctype="multipart/form-data" action="/create-post" method="post" autocomplete="off">
    <input type="hidden" id="sender_post" name="sender_post" value="{{.user.ID}}" />
    <input type="text" id="categorie_post" name="categorie_post" placeholder="Categorie" maxlength="25" required />
    <input type="text" id="title_post" name="title_post" placeholder="Title" maxlength="75" required />
    <textarea id="content_post" name="content_post" placeholder="I love radish ..." maxlength="1500" required></textarea>
    <input type="file" name="image_post" id="image_post" accept=".jpg, .jpeg, .png, .gif" />
    <button type="submit">Post</button>
  </form>
</div>
{{end}} {{end}}
