{{define "header"}}
<header class="header">
  <div id="profile">
    {{if .user}}
    
    <div id="notification-poppup">
      {{if .user}}
      <svg id="notif-pic-none" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/></svg>
      {{end}}

    </div>

    <div id="notification-container">
      <h3>Notifications : </h3>
      <ul id="notification-ul">
        {{range .posts}}
        <li>Machin a posté Forum dans Dev {{.ID}}</li>
        {{end}}
      </ul>
    </div>

    {{if .user.Picture}}
    <!-- Use the base64-encoded user picture -->
    <img src="data:image/jpeg;base64,{{ .user.Picture }}" alt="Profile Picture" id="avatar" style="max-width: 150px; max-height: 150px" />
    {{else}}
    <!-- If .user exists but .user.Picture is missing, use the default profile picture -->
    <img src="/static/assets/img/default_profile_picture.png" alt="Default Profile Picture" id="avatar" style="max-width: 150px; max-height: 150px" />
    {{end}} {{else}}
    <!-- If .user is not set, also show the default profile picture -->
    <img src="/static/assets/img/default_profile_picture.png" alt="Default Profile Picture" id="avatar" style="max-width: 150px; max-height: 150px" />
    {{end}}

    <div id="popup">
      {{if .user}}
      <p> {{ .user.Username}} connected</p>
      {{else}}
      <p>Login or Signup :</p>
      {{end}}
      <nav>
        <ul>
          {{if .user}}
          <li><a href="#profile" id="header-profile-link">Your Profil</a></li>
          <form method="post" action="/logout">
            <li><button type="submit">Logout</button></li>
          </form>
          {{else}}
          <li><a href="#" id="header-login-link" class="button-header">  Login  </a></li>
          <li><a href="#" id="header-signup-link" class="button-header"> Signup </a></li>
          {{end}}
        </ul>
      </nav>
    </div>
  </div>
</header>
{{end}}
