{{define "header"}}
<header class="header">
  <a href="/"><img src="static/assets/img/home_logo.png" alt="home" id="logo" /></a>
  <h1 id="title">RADDIT</h1>
  <div id="profile">
    <img src="static/assets/img/default_profile_picture.png" alt="Profile Picture" id="avatar" style="max-width: 150px; max-height: 150px" />
    <div id="popup">
      {{if .user}}
      <p>Vous êtes connecté !</p>
      {{end}}
      <nav>
        <ul>
          {{if .user}}
          <li><a href="#profile" id="header-profile-link">Voir mon profil</a></li>
          <form method="post" action="/logout">
            <li><button type="submit">Se déconnecter</button></li>
          </form>
          {{else}}
          <li><a href="#" id="header-login-link">Se connecter</a></li>
          <li><a href="#" id="header-signup-link">Créer un compte</a></li>
          {{end}}
        </ul>
      </nav>
    </div>
  </div>
  <script type="module" src="/static/js/auth.js"></script>
  <script type="module" src="/static/js/index.js"></script>
</header>
{{end}}
