{{define "js"}}
<script type="module">
  import { GetLogin, GetSignup } from "../../static/js/auth.js";
  import { ShowError } from "../../static/js/other.js";
  window.GetLogin = GetLogin;
  window.GetSignup = GetSignup;
  window.ShowError = ShowError;

  // Check if the user is nil before trying to access its properties
  window.userData = {
    id: "{{if .user}} {{.user.ID | js}}{{else}} '0' {{end}}",
    pseudo: "{{ if .user }}{{ .user.Username | js }}{{ else }}'Guest'{{ end }}",
    email: "{{ if .user }}{{ .user.Email | js }}{{ else }}'Not logged in'{{ end }}",
    role: "{{ if .user }}{{ .user.Role | js }}{{ else }}'visitor'{{ end }}",
    profilePicture: "{{ if .user }}{{ if .user.Picture }}data:image/jpeg;base64,{{ .user.Picture }}{{ else }}/static/assets/img/default_profile_picture.png{{ end }}{{ else }}/static/assets/img/default_profile_picture.png{{ end }}",
    request: `{{if and (.user) (ne .user.Role "admin") (ne .user.Role "moderator")}}
    <nav>
      <ul id="profile-menu-list">
        <form action="request" method="POST">
          <li>
            <button type="submit">Ask to be Moderator</button>
          </li>
        </form>
      </ul>
    </nav>{{end}}`,
    myposts: `{{ if.user }}
      {{ range .posts }}{{ if eq $.user.ID .Sender.ID }} <div class="post">
    <div class="post-header">
      <div class="sender">{{.Sender.Username}}</div>
      {{if (index .Categories 0).ID}}
      <div class="category"><a href="?catID={{(index .Categories 0).ID }}">{{ (index .Categories 0).Name }}</a></div>
      {{end}}
      <div class="date">{{.Date}}</div>
    </div>
    {{if .Title}}
    <div class="title">{{.Title}}</div>
    {{end}}
    <div class="post-content">
      <div class="content">{{.Content}}</div>
      {{if .Picture}}
      <div class="post-image"><img src="data:image/jpeg;base64,{{.Picture}}" /></div>
      {{end}}
    </div>
    <div class="reactions">
      <div class="post-categories">
        {{range .Categories}}
        <a href="/?catID={{.ID}}">#{{.Name}}</a>
        {{end}}
      </div>
        <input type="hidden" name="postId" value="{{.ID}}" />
        <input type="hidden" name="reaction" value="LIKE" />
        <div class="reaction">
          <form class="delete-post-form" method="POST" action="/delete-post">
          <input type="hidden" name="id-post-to-delete" value="{{.ID}}"/>
          <button type="submit" class="reaction-button" id="post-to-delete-button"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> </button>
        </form>
          </div>
        <div class="reaction">
          <button type="submit" class="reaction-button" id="like">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" /></svg>
          </button>
          <span class="like-count" data-postid="{{.ID}}">{{.Likes}}</span>
        </div>
        <input type="hidden" name="postId" value="{{.ID}}" />
        <input type="hidden" name="reaction" value="DISLIKE" />
        <div class="reaction">
          <button type="submit" class="reaction-button" id="dislike">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z" /></svg>
          </button>
          <span class="dislike-count" data-postid="{{.ID}}">{{.Dislikes}}</span>
        </div>
      <div class="reaction">
        <form action="" method="get">
          <input type="hidden" name="postID" value="{{.ID}}" />
          <button type="submit" class="reaction-button" id="comments">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z" /></svg>
          </button>
        </form>
      </div>
    </div>
  </div> {{ end}} {{ end }} {{ end }}`,

    likedposts: `{{ if.user }}
      {{ range .likedposts }} <div class="post">
    <div class="post-header">
      <div class="sender">{{.Sender.Username}}</div>
      {{if (index .Categories 0).ID}}
      <div class="category"><a href="?catID={{(index .Categories 0).ID }}">{{ (index .Categories 0).Name }}</a></div>
      {{end}}
      <div class="date">{{.Date}}</div>
    </div>
    {{if .Title}}
    <div class="title">{{.Title}}</div>
    {{end}}
    <div class="post-content">
      <div class="content">{{.Content}}</div>
      {{if .Picture}}
      <div class="post-image"><img src="data:image/jpeg;base64,{{.Picture}}" /></div>
      {{end}}
    </div>
    <div class="reactions">
      <div class="post-categories">
        {{range .Categories}}
        <a href="/?catID={{.ID}}">#{{.Name}}</a>
        {{end}}
      </div>
        <input type="hidden" name="postId" value="{{.ID}}" />
        <input type="hidden" name="reaction" value="LIKE" />
        <div class="reaction">
          <button type="submit" class="reaction-button" id="like">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" /></svg>
          </button>
          <span class="like-count" data-postid="{{.ID}}">{{.Likes}}</span>
        </div>
        <input type="hidden" name="postId" value="{{.ID}}" />
        <input type="hidden" name="reaction" value="DISLIKE" />
        <div class="reaction">
          <button type="submit" class="reaction-button" id="dislike">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z" /></svg>
          </button>
          <span class="dislike-count" data-postid="{{.ID}}">{{.Dislikes}}</span>
        </div>
      <div class="reaction">
        <form action="" method="get">
          <input type="hidden" name="postID" value="{{.ID}}" />
          <button type="submit" class="reaction-button" id="comments">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z" /></svg>
          </button>
        </form>
      </div>
    </div>
  </div> {{ end}} {{ end }}`,
  };
</script>
{{end}}
