{{define "left-bar"}}
<div class="left-bar">
  <a href="/"><h1>RADDIT</h1></a>

  <form action="" method="post" id="SearchForm" name="SearchForm">
    <input type="search" name="search_bar" id="search_bar" list="suggestions" placeholder="Search..." />
  </form>

  <datalist id="suggestions">
    {{range $a := .categories}}
    <option value="{{$a.Name}}">{{$a.Name}}</option>
    {{end}}
  </datalist>

  <img src="/static/assets/img/home_logo.png" alt="home" id="logo" />
  {{if .user}}
  <div id="item">
    <h2>Following :</h2>
    <ul class="no-bullets">
      {{ range .user.Follows }}
      <li>
        <span class=""><a href="?catID={{ .ID }}">{{ .Name }}</a></span>
      </li>
      {{ else }}
      <li>No categories follow yet, start following some, you will see them display here</li>
      {{ end }}
    </ul>
  </div>
  {{end}}
  <div id="item">
    <h2>Discover :</h2>
    {{if .user}}
    <ul class="no-bullets">
      {{range $index, $category := .categories}} {{$isFollowed := false}} {{range $.user.Follows}} {{if eq .ID $category.ID}} {{$isFollowed = true}} {{end}} {{end}} {{if not $isFollowed}}
      <li>
        <span><a href="?catID={{ $category.ID }}">{{ $category.Name }}</a></span>
      </li>
      {{end}} {{else}}
      <li>No category found</li>
      {{end}} {{else}} {{range .categories}}
      <li>
        <span><a href="?catID={{ .ID }}">{{ .Name }}</a></span>
      </li>
    </ul>
    {{end}} {{end}}
  </div>
</div>
{{end}}
