{{define "left-bar"}}
<div class="left-bar">
  <div id="item">
    <h2>Following :</h2>
    {{if .user}}
    <ul class="no-bullets">
      {{ range .user.Follows }}
      <li>
        <span><a href="?catID={{ .ID }}">{{ .Name }}</a></span>
      </li>
      {{ else }}
      <li>No categorie found</li>
      {{ end }}
    </ul>
    {{end}}
  </div>
  <div id="item">
    <h2>Discover :</h2>
    {{if .user}}
    <ul class="no-bullets">
      {{range $index, $category := .categories}} {{$isFollowed := false}} {{range $.user.Follows}} {{if eq .ID $category.ID}} {{$isFollowed = true}} {{end}} {{end}} {{if not $isFollowed}}
      <li>
        <span><a href="?catID={{ $category.ID }}">{{ $category.Name }}</a></span>
      </li>
      {{end}} {{else}}
      <li>No category found</li>
      {{end}} {{else}} {{range .categories}}
      <li>
        <span><a href="?catID={{ .ID }}">{{ .Name }}</a></span>
      </li>
    </ul>
    {{end}} {{end}}
  </div>
  <button><<</button>
</div>
{{end}}
