{{define "left-bar"}}
<div class="left-bar">
  <h1>RADDIT</h1>
  <img src="static/assets/img/home_logo.png" alt="home" id="logo" />
  <div id="item">
    <h2>Following :</h2>
    <ul>
      <!-- {{ range .CategoriesFollow }} -->
      <li>
        <span><a href="?cat={{ .CategorieID }}">{{ .Name }}</a></span>
      </li>
      <!-- {{ else }} -->
      <li><span>No categorie found</span></li>
      <!-- {{ end }} -->
    </ul>
  </div>
  <div id="item">
    <h2>Discover :</h2>
    <ul>
      <!-- {{ range .Categories }} -->
      <li>
        <span><a href="?cat={{ .CategorieID }}">{{ .Name }}</a></span>
      </li>
      <!-- {{ else }} -->
      <li><span>No categorie found</span></li>
      <!-- {{ end }} -->
    </ul>
  </div>
</div>
{{end}}
