{{define "modify"}}
<div class="reaction">
  <!-- Bouton pour modifier le post -->
  <button type="button" class="reaction-button create-post-to-modify-button" data-target="modify-post-{{.ID}}">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
      <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
    </svg>
  </button>

  <!-- Formulaire caché par défaut -->
  <div class="modify-post" id="modify-post-{{.ID}}" style="display: none">
    <form enctype="multipart/form-data" class="modify-post-form" method="POST" action="/modify-post">
      <input type="hidden" name="post-to-modify" value="{{.ID}}" />
      <input type="text" id="categorie_post" name="categorie_post" placeholder="{{(index .Categories 0).Name}}" maxlength="25" readonly />
      <input type="text" id="title_post" name="title_post" placeholder="{{.Title}}" maxlength="75" readonly />
      <textarea id="content_post" name="content_post" placeholder="{{.Content}}">{{.Content}}</textarea>
      <input type="file" name="image_post" id="image_post" accept=".jpg, .jpeg, .png, .gif" />
      <button type="submit">Post</button>
    </form>
  </div>
</div>
{{end}}
