{{define "posts"}}
<div class="posts-container" id="posts-container">
  <div id="posts">
    {{if eq .GET "category"}} {{if $.user}}
    <div class="dashboard-categorie-name">
      {{range .categories}} {{if eq .ID (index $.posts 0).Category.ID}}
      <div class="follow-category">
        <button type="button" id="follow-button" data-categorieid="{{.ID}}">
          {{ $ActualCategory := .ID }} {{ $Followed := false }} {{ range $.user.Follows}} {{if eq .ID $ActualCategory}} {{$Followed = true}} {{end}} {{end}} {{if $Followed}}
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-200v-80h80v-280q0-33 8.5-65t25.5-61l60 60q-7 16-10.5 32.5T320-560v280h248L56-792l56-56 736 736-56 56-146-144H160Zm560-154-80-80v-126q0-66-47-113t-113-47q-26 0-50 8t-44 24l-58-58q20-16 43-28t49-18v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v206Zm-276-50Zm36 324q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Zm33-481Z" /></svg>
          {{else}}
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-560q0-100 44.5-183.5T244-882l47 64q-60 44-95.5 111T160-560H80Zm720 0q0-80-35.5-147T669-818l47-64q75 55 119.5 138.5T880-560h-80ZM160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z" /></svg>
          {{end}}
        </button>
      </div>
      <p>{{.Name}}</p>
      {{end}} {{end}}
    </div>
    {{end}} {{end}} {{range .posts}}
    <div class="post">
      <div class="post-header">
        <div class="sender">{{.Sender.Username}}</div>
        <!-- Ensure Category is passed -->
        {{if .Category}}
        <div class="category">{{ .Category.Name}}</div>
        {{end}}
        <div class="date">{{.Date}}</div>
      </div>
      <!-- Ensure Title is passed -->
      {{if .Title}}
      <div class="title">{{.Title}}</div>
      {{end}}
      <div class="post-content">
        <div class="content">{{.Content}}</div>
        {{if .Picture}}
        <div class="post-image"><img src="data:image/jpeg;base64,{{.Picture}}" /></div>
        {{end}}
      </div>
      <div class="reactions">
        <form class="reaction-form" method="POST">
          <input type="hidden" name="postId" value="{{.ID}}" />
          <input type="hidden" name="reaction" value="LIKE" />
          <div class="reaction">
            <button type="submit" class="reaction-button" id="like">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" /></svg>
            </button>
            <span class="like-count" data-postid="{{.ID}}">{{.Likes}}</span>
          </div>
        </form>
        <form class="reaction-form" method="POST">
          <input type="hidden" name="postId" value="{{.ID}}" />
          <input type="hidden" name="reaction" value="DISLIKE" />
          <div class="reaction">
            <button type="submit" class="reaction-button" id="dislike">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z" /></svg>
            </button>
            <span class="dislike-count" data-postid="{{.ID}}">{{.Dislikes}}</span>
          </div>
        </form>
        <div class="reaction">
          <form action="" method="get">
            <input type="hidden" name="com" value="{{.ID}}" />
            <button type="submit" class="reaction-button" id="comments">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z" /></svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{end}}
