{{define "posts"}}
<div class="posts-container" id="posts-container">
  <div id="posts">
    {{range .posts}}
    <div class="post">
      <div class="post-header">
        <div class="sender">{{.Sender.Username}}</div>
        <!-- Ensure Category is passed -->
        {{if .Category}}
        <div class="category">{{ .Category.Name}}</div>
        {{end}}
        <div class="date">{{.Date}}</div>
      </div>
      <!-- Ensure Title is passed -->
      {{if .Title}}
      <div class="title">{{.Title}}</div>
      {{end}}
      <div class="post-content">
        <div class="content">{{.Content}}</div>
        {{if .Picture}}
        <div class="post-image"><img src="data:image/jpeg;base64,{{.Picture}}" /></div>
        {{end}}
      </div>
      <div class="reactions">
        <form class="reaction-form" method="POST">
          <input type="hidden" name="postId" value="{{.ID}}" />
          <input type="hidden" name="reaction" value="LIKE" />
          <div class="reaction">
            <button type="submit" class="reaction-button" id="like">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" /></svg>
            </button>
            <span class="like-count" data-postid="{{.ID}}">{{.Likes}}</span>
          </div>
        </form>
        <form class="reaction-form" method="POST">
          <input type="hidden" name="postId" value="{{.ID}}" />
          <input type="hidden" name="reaction" value="DISLIKE" />
          <div class="reaction">
            <button type="submit" class="reaction-button" id="dislike">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z" /></svg>
            </button>
            <span class="dislike-count" data-postid="{{.ID}}">{{.Dislikes}}</span>
          </div>
        </form>
        <div class="reaction">
          <form action="" method="get">
            <input type="hidden" name="com" value="{{.ID}}" />
            <button type="submit" class="reaction-button" id="comments">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z" /></svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{end}}
